<template>
	<view class="container">
		<view class="play-button-area">
			<image class="icon-play" :src="playImage" @click="play"></image>
		</view>
		<text class="intro">我们使用cookies来提供有用的功能和特定性能，以改善你的体验。</text>
		<view class="record-button-area">
			<image class="icon-play" v-if="!recording" src="/static/record.png" @click="recorderStart"></image>
			<image class="icon-play" v-if="recordTime&&!hasRecord" src="/static/stop.png" @click="recorderStop"></image>
			<image class="icon-play" v-if="hasRecord" :src="recordByPlayImage" @click="recorderPlay"></image>
		</view>
		<text v-if="recordTime">{{recordTime}}s</text>
		<view class="image-area">
			<image class="icon-play choose-img" src="/static/plus.png" @click="chooseImage"></image>
			<image class="icon-play" v-for="(image,index) in imageList" :key="index" :src="image" :data-src="image" @tap="previewImage"></image>
		</view>
	</view>
</template>

<script>
	import permision from "@/common/permission.js"
	let sound1 = 'http://images.hzhdxxkj.com/translate_tts.mp3'
	let recordTimeInterval;
	var sourceType = [
		['camera'],
		['album'],
		['camera', 'album']
	]
	export default {
		data() {
			return {
				isPlaying: false,
				isPlayEnd: false,
				//
				recording: false,
				isPlayingByRecord: false,
				hasRecord: false,
				recordTime: 0,
				//
				imageList:[]
			}
		},
		methods: {
			previewImage(e){
				var current = e.target.dataset.src
				uni.previewImage({
					current: current,
					urls: this.imageList
				})
			},
			async chooseImage() {
				let status = await this.checkCameraPermission();
				if (status !== 1) {
					return;
				}
				uni.chooseImage({
					success: (res) => {
						this.imageList = this.imageList.concat(res.tempFilePaths);
					},
					fail: (err) => {
					}
				})
			},
			createRecorder() {
				var recorderManager = this._recorder = uni.getRecorderManager();
				recorderManager.onStart(() => {
					console.log('recorder start');
					clearInterval(recordTimeInterval)
					this.recording = true;
					this.hasRecord = false;
					this.recordTime = 0;
					recordTimeInterval = setInterval(() => {
						this.recordTime += 1;
						//this.formatedRecordTime = util.formatTime(this.recordTime);
					}, 1000)
					uni.showToast({
						title: 'recorder start'
					})
				});
				recorderManager.onStop((res) => {
					console.log('on stop');
					clearInterval(recordTimeInterval)
					this.hasRecord = true;
					this.recording = false;
					if (this._recorderAudio) {
						this._recorderAudio.destroy()
					}
					this._recorderAudio = this.createAudio(res.tempFilePath, () => {
						console.log(1111)
						this.isPlayingByRecord = false;
					}, () => {
						console.log(2222)
						this.isPlayingByRecord = false;
					});

				});
				recorderManager.onError(() => {
					console.log('recorder onError');
				});
			},
			createAudio(src, onEnded, onError) {
				var innerAudioContext = uni.createInnerAudioContext();
				innerAudioContext.autoplay = false;
				innerAudioContext.src = src;
				innerAudioContext.onPlay(() => {
					console.log('开始播放');
					uni.showToast({
						title: '开始播放'
					})
				});
				innerAudioContext.onTimeUpdate((e) => {

				});
				innerAudioContext.onEnded(() => {
					onEnded && onEnded()
				});
				innerAudioContext.onError((res) => {
					onError && onError()
					uni.showToast({
						title: res.errMsg
					})
					console.log(res.errMsg);
					console.log(res.errCode);
				});
				return innerAudioContext;
			},
			play() {
				// this._audio.src = sound1
				if (this.isPlaying) {
					this._audio.pause()
					this.isPlaying = false
					return
				}
				this._audio.play()
				this.isPlaying = true
				this.isPlayEnd = false;
			},
			stop() {
				this._audio.stop();
				this.isPlaying = true
			},
			async checkCameraPermission(code) {
				let type = code ? code - 1 : this.sourceTypeIndex;
				let status = permision.isIOS ? await permision.requestIOS('camera') :
					await permision.requestAndroid('android.permission.CAMERA');

				if (status === null || status === 1) {
					status = 1;
				} else {
					uni.showModal({
						content: "没有开启权限",
						confirmText: "设置",
						success: function(res) {
							if (res.confirm) {
								permision.gotoAppSetting();
							}
						}
					})
				}

				return status;
			},
			async checkRecordPermission() {
				let status = permision.isIOS ? await permision.requestIOS('record') :
					await permision.requestAndroid('android.permission.RECORD_AUDIO');

				if (status === null || status === 1) {
					status = 1;
				} else if (status === 2) {
					uni.showModal({
						content: "系统麦克风已关闭",
						confirmText: "确定",
						showCancel: false,
						success: function(res) {}
					})
				} else {
					uni.showModal({
						content: "需要麦克风权限",
						confirmText: "设置",
						success: function(res) {
							if (res.confirm) {
								permision.gotoAppSetting();
							}
						}
					})
				}
				return status;
			},
			async recorderStart() {
				let status = await this.checkRecordPermission();
				console.log('status', status)
				if (status !== 1) {
					return;
				}
				this._recorder.start({
					format: 'mp3'
				});
			},
			recorderStop() {
				this._recorder.stop();
			},
			recorderPlay() {
				if (this.isPlayingByRecord) {
					this._recorderAudio.pause()
					this.isPlayingByRecord = false
					return
				}
				this._recorderAudio.play()
				this.isPlayingByRecord = true
			}
		},
		computed: {
			playImage() {
				return this.isPlaying ? '/static/pause.png' : '/static/play.png'
			},
			recordByPlayImage() {
				return this.isPlayingByRecord ? '/static/pause.png' : '/static/play.png'
			}
		},
		onLoad() {
			this._audio = null;
			this._recorder = null;
			this._recorderAudio = null;

			this._audio = this.createAudio(sound1, () => {
				console.log(1111)
				this.isPlaying = false;
				this.isPlayEnd = true;
			}, () => {
				console.log(2222)
				this.isPlaying = false;
			});

			this.createRecorder()
		},
		onUnload() {
			if (this._audio != null) {
				this.stop();
			}
		},
	}
</script>

<style>
	.container {
		padding: 20px;
	}

	.play-button-area {
		display: flex;
		justify-content: center;
	}

	.intro {
		display: block;
		padding-top: 10px;
		color: #F76260;
	}

	.record-button-area {
		display: flex;
		justify-content: space-around;
		margin-top: 15px;
	}

	.icon-play {
		width: 60px;
		height: 60px;
	}
	.image-area{
		margin-top: 15px;
		display: flex;
		flex-wrap: wrap;
	}
	.icon-play{
		margin:0 5px 5px 0;
	}
	.choose-img {
		border: dashed 1px #DDDDDD;
	}
</style>
