<template>
	<view class="container">
		<view class="media-center">
			<view class="m-c_item">
				<image class="icon-play" src="/static/play.png" @click="play"></image>
				<view>PLAY</view>
			</view>
		</view>

		<view class="content-wrapper">
			<image class="content-img" :src="sourceUrl+content.image"></image>
			<view class="words">
				<view class="words-item" :key="index" v-for="(item,index) in content.sentences">
					<view class="words-item-inner" v-for="(pinyinitem,pinyinindex) in sentences.pinyin[index]">
						<view class="pinyin">{{pinyinitem}}</view>
						<view class="chinese">{{sentences.chinese[index][pinyinindex]}}</view>
					</view>
				</view>
			</view>

		</view>

		<view class="button-sp-area">
			<button type="primary" @click="redirectTo('page4')">上一页</button>
		</view>
	</view>
</template>

<script>
	let content = {
		"audio": "hello/lesson5/exercise5/p75.wav",
		"image": "hello/lesson5/exercise5/p75.png",
		"title": "你们 要 吃 什么",
		"sentences": [{
			"pinyin": "Dàwèi: Měinǚ! Wǒmen yào diǎn cài!",
			"chinese": "大卫： 美女！ 我们 要 点 菜！",
			"english": ""
		}, {
			"pinyin": "Fúwùyuán: Zhè shì càidān, gěi nín.",
			"chinese": "服务员： 这 是 菜单， 给 您。",
			"english": ""
		}, {
			"pinyin": "Àilì: Nǐmen yào chī shénme?",
			"chinese": "爱丽： 你们 要 吃 什么？",
			"english": ""
		}, {
			"pinyin": "Dàwèi、Shānběn: Wǒmen yào chī fānqiéchǎodàn.",
			"chinese": "大卫、山本： 我们 要 吃 番茄炒蛋。",
			"english": ""
		}, {
			"pinyin": "Fúwùyuán: Hǎo de. Nǐmen yào hē shénme?",
			"chinese": "服务员： 好 的。 你们 要 喝 什么？",
			"english": ""
		}, {
			"pinyin": "Àilì: Hē píjiǔ!",
			"chinese": "爱丽： 喝 啤酒！",
			"english": ""
		}, {
			"pinyin": "Fúwùyuán: Hái yào biéde ma?",
			"chinese": "服务员： 还 要 别的 吗？",
			"english": ""
		}, {
			"pinyin": "Shānběn: Hái yào mǐfàn, xièxie!",
			"chinese": "山本： 还 要 米饭， 谢谢！",
			"english": ""
		}]
	}



	export default {
		data() {
			return {
				content: content,
				isPlaying: false,
			}
		},
		methods: {
			redirectTo(page) {
				uni.redirectTo({
					url: page
				})
			},
			createAudio(src, onEnded, onError) {
				var innerAudioContext = uni.createInnerAudioContext();
				innerAudioContext.autoplay = false;
				if (src) {
					innerAudioContext.src = src;
				}
				innerAudioContext.onPlay(() => {
					console.log('开始播放');
					uni.showToast({
						title: '开始播放',
						icon: 'none',
					})
				});
				innerAudioContext.onTimeUpdate((e) => {

				});
				innerAudioContext.onEnded(() => {
					onEnded && onEnded()
				});
				innerAudioContext.onError((res) => {
					onError && onError()
					uni.showToast({
						title: res.errMsg,
						icon: 'none',
					})
					console.log(res.errMsg);
					console.log(res.errCode);
				});
				return innerAudioContext;
			},
			play() {
				let sound = this.sourceUrl + content.audio;
				this.playCenter(sound)
			},
			playCenter(src) {
				this._audio.src = src
				if (this.isPlaying) {
					this.isPlaying = false;
					this._audio.stop()
					uni.showToast({
						title: '停止播放',
						icon: 'none',
					})
					return
				}
				this.isPlaying = true;
				this._audio.play()
			}
		},
		computed: {
			sentences() {
				let pinyin = []
				let chinese = []
				content.sentences.forEach(item => {
					let arr1 = item.pinyin.split(' ')
					let arr2 = item.chinese.split(' ')
					pinyin.push(arr1)
					chinese.push(arr2)
				})
				return {
					pinyin: pinyin,
					chinese: chinese,
				}
			}
		},
		onLoad() {
			this._audio = this.createAudio(null, () => {
				this.isPlaying = false;
			})
		},
		onUnload() {
			if (this._audio != null) {
				this._audio.destroy()
			}
		},
	}
</script>

<style>
	page {
		background: rgb(230, 230, 230);
	}

	.container {
		padding: 0 20px;
	}

	.source-img {
		width: 130px;
		height: 130px;
		display: block;
		margin: 0 auto;
		border: solid 2px #000000;
	}

	.content-wrapper {
		background: #084e62;
		padding: 10px 0 0 0;
	}

	.content-img {
		width: 250px;
		display: block;
		margin: 0 auto;
	}

	.words {
		padding:10px;
	}

	.words-item {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.words-item-inner {
		color: #fff;
		font-size: 50rpx;
		padding: 0 3px;
		//border: solid 1px #007AFF
	}

	.pinyin,
	.chinese {
		text-align-last: justify;
	}

	/*
	.pinyin {
		border: solid 1px #1AAD19
	}

	.chinese {
		border: solid 1px #F76260;
		text-align-last: justify;
	}
*/
	.media-center {
		display: flex;
		justify-content: center;
	}

	.m-c_item {
		text-align: center;
		padding: 10px 15px;
	}

	.record-trigger {
		position: relative;
	}

	.timers {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		z-index: 1;
		color: #f20;
		font-size: 25px;
	}

	.icon-play {
		width: 80px;
		height: 80px;
	}



	.button-sp-area {
		text-align: center;
	}

	.button-sp-area button {
		margin: 10px 0 0 0;
	}

	.lesson-header {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px 0;
	}

	.record-play {
		width: 100px;
		margin: 10px auto;
		background: #f1e8d3;
		color: #b89a6d;
		border: 1px solid #b89a6d;
		text-align: center;
		padding: 10px 0;
	}

	.modal-more {
		display: flex;
		background: url(../../static/lv1-related-bg.png);
		background-size: 100% 100%;
		width: 300px;
		height: 250px;
		padding: 10px;
	}

	.modal-more-left,
	.modal-more-right {
		flex: 1;
	}

	.img {
		//background: url(../../static/loading.gif) center center no-repeat #fff;
	}

	.l-p-b_c_inner {
		height: 50px;
		background: repeating-linear-gradient(-45deg, #dccab0, #dccab0 .25em, #d4c0a0 0, #d4c0a0 .5em);
	}
</style>
