<template>
	<view class="container">
		<view class="uni-flex" style="padding-top:10px">
			<view class="uni-flex-item">
				<view class="mycanvas-wrapper" :style="canvasStyle">
					<canvas class="mycanvas" canvas-id="mycanvas" @touchstart="touchstart" @touchmove="touchmove"
					 @touchend="touchend"></canvas>
				</view>
			</view>
			<view class="">
				<view class="tip-canvas">
					<image v-show="tipsState" class="tip-img" mode="aspectFill" :src="content.words[0].gifImage"></image>
				</view>
				<button type="primary" size="mini" @click="tipsHandle">tips</button>
			</view>


		</view>
		<view class="footer">
			<!-- <button type="primary" size="mini" @click="finish">finish</button> -->
			<button type="primary" size="mini" @click="compare">compare</button>
			<button type="primary" size="mini" @click="clear">clear</button>
		</view>

		<view class="button-sp-area">
			<button type="primary" @click="redirectTo('page2')">上一页</button>
			<button type="primary" @click="redirectTo('page4')">下一页</button>
		</view>

	</view>
</template>

<script>
	var x = 20;
	var y = 20;

	let content = {
		"audio": "",
		"wordNum": "1",
		"english": "ship/boat",
		"words": [{
			"pinyin": "",
			"chinese": "",
			"image": "https://static.ipandarin.com/level3/lesson24/exercise4/l3-l24-p4-2.jpg",
			"gifImage": "https://static.ipandarin.com/level3/lesson24/exercise4/l3-l24-p4-2.gif"
		}],
		"image": ""
	}

	export default {
		data() {
			return {
				ctx: '', //绘图图像
				points: [], //路径点集合 
				content: content,
				tipsState: false,
				canvasStyle: {}
			}
		},
		methods: {
			tipsHandle() {
				this.tipsState = true;
				setTimeout(() => {
					this.tipsState = false;
				}, 10000)
			},
			redirectTo(page) {
				uni.redirectTo({
					url: page
				})
			},
			compare() {
				this.canvasStyle = {
					backgroundImage: `url(${this.content.words[0].image})`
				}
				setTimeout(() => {
					this.canvasStyle = {};
				}, 10000)
			},
			//触摸开始，获取到起点
			touchstart: function(e) {
				let startX = e.changedTouches[0].x;
				let startY = e.changedTouches[0].y;
				let startPoint = {
					X: startX,
					Y: startY
				};

				/* **************************************************
					#由于uni对canvas的实现有所不同，这里需要把起点存起来
				 * **************************************************/
				this.points.push(startPoint);

				//每次触摸开始，开启新的路径
				this.ctx.beginPath();
			},

			//触摸移动，获取到路径点
			touchmove: function(e) {
				let moveX = e.changedTouches[0].x;
				let moveY = e.changedTouches[0].y;
				let movePoint = {
					X: moveX,
					Y: moveY
				};
				this.points.push(movePoint); //存点
				let len = this.points.length;
				if (len >= 2) {
					this.draw(); //绘制路径
				}

			},

			// 触摸结束，将未绘制的点清空防止对后续路径产生干扰
			touchend: function() {
				this.points = [];
			},

			/* ***********************************************
			#   绘制笔迹
			#	1.为保证笔迹实时显示，必须在移动的同时绘制笔迹
			#	2.为保证笔迹连续，每次从路径集合中区两个点作为起点（moveTo）和终点(lineTo)
			#	3.将上一次的终点作为下一次绘制的起点（即清除第一个点）
			************************************************ */
			draw: function() {
				let point1 = this.points[0]
				let point2 = this.points[1]
				this.points.shift()
				this.ctx.moveTo(point1.X, point1.Y)
				this.ctx.lineTo(point2.X, point2.Y)
				this.ctx.strokeStyle = '#ff0000';
				this.ctx.stroke()
				this.ctx.draw(true)
			},

			//清空画布
			clear: function() {
				let that = this;
				uni.getSystemInfo({
					success: function(res) {
						let canvasw = res.windowWidth;
						let canvash = res.windowHeight;
						that.ctx.clearRect(0, 0, canvasw, canvash);
						that.ctx.draw(true);
					},
				})
			},

			//完成绘画并保存到本地
			finish: function() {
				uni.canvasToTempFilePath({
					canvasId: 'mycanvas',
					success: function(res) {
						let path = res.tempFilePath;
						// uni.saveImageToPhotosAlbum({
						// 	filePath: path
						// })
					}
				})
			}
		},
		computed: {

		},
		onLoad() {
			this.ctx = uni.createCanvasContext("mycanvas", this); //创建绘图对象

			//设置画笔样式
			this.ctx.lineWidth = 4;
			this.ctx.lineCap = "round"
			this.ctx.lineJoin = "round"
		},
		onUnload() {

		},
	}
</script>

<style>
	page {
		background: rgb(230, 230, 230);
	}

	.container {
		padding: 0 20px;
	}

	.tip-canvas,
	.mycanvas {
		background: url(https://www.ipandarin.com/img/writing_bg.5652501.png) no-repeat;
		background-size: 110% 110%;
		background-position: 50%;
	}

	.tip-canvas {
		width: 100px;
		height: 100px;
		position: relative;
	}

	.tip-img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
	}
	.mycanvas-wrapper{
		width: 200px;
		height: 200px;
		background-repeat: no-repeat;
		background-size:100%;
	}
	.mycanvas {
		width: 200px;
		height: 200px;
	}

	.footer {
		font-size: 16px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.button-sp-area {
		text-align: center;
	}

	.button-sp-area button {
		margin: 10px 0 0 0;
	}
</style>
