<template>
	<view class="container">

		<!-- <cus-img class="source-img"  :src="catImgUrl"></cus-img> -->

		<view class="words">
			<view class="words-item" :key="index" v-for="(item,index) in content.keyVocabularyData.words">
				<view class="words-item-inner" @click="wordsPlay(item.audio)">
					<view class="pinyin">{{item.pinyin}}</view>
					<view class="chinese">{{item.chinese}}</view>
					<view class="english">{{item.english}}</view>
				</view>
			</view>
		</view>
		<view class="media-center">
			<view class="m-c_item">
				<image class="icon-play" src="/static/play.png" @click="play"></image>
				<view>PLAY</view>
			</view>
		</view>
		<view class="button-sp-area">
			<button type="primary" @click="redirectTo('page3')">上一页</button>
			<button type="primary" @click="redirectTo('page5')">下一页</button>
		</view>
	</view>
</template>

<script>
	import permision from "@/common/permission.js"
	let recordTimeInterval;
	let content = {
		"contentTitle": "生词-Vocabulary",
		"keyVocabularyTitle": "",
		"keyVocabularyData": {
			"words": [{
				"pinyin": "yào",
				"chinese": "要 aux.",
				"english": "want to",
				"audio": "hello/lesson5/exercise5/yao.wav"
			}, {
				"pinyin": "chī",
				"chinese": "吃  v.",
				"english": "eat",
				"audio": "hello/lesson5/exercise5/chi.wav"
			}, {
				"pinyin": "měinǚ ",
				"chinese": "美女  n",
				"english": "pretty girl",
				"audio": "hello/lesson5/exercise5/meinv.wav"
			}, {
				"pinyin": "diǎn cài",
				"chinese": "点菜",
				"english": "order some dish",
				"audio": "hello/lesson5/exercise5/diancai.wav"
			}, {
				"pinyin": "diǎn",
				"chinese": "点  v.",
				"english": "order",
				"audio": "hello/lesson5/exercise5/dian.wav"
			}, {
				"pinyin": "cài",
				"chinese": "菜  n.",
				"english": "dish",
				"audio": "hello/lesson5/exercise5/cai.wav"
			}, {
				"pinyin": "càidān",
				"chinese": "菜单 n. ",
				"english": "menu",
				"audio": "hello/lesson5/exercise5/caidan.wav"
			}, {
				"pinyin": "gěi ",
				"chinese": "给 v.",
				"english": "give",
				"audio": "hello/lesson5/exercise5/gei.wav"
			}, {
				"pinyin": "fānqié chǎodàn",
				"chinese": "番茄炒蛋",
				"english": "tomato fried with eggs",
				"audio": "hello/lesson5/exercise5/fanqiechaodan.wav"
			}, {
				"pinyin": "hē",
				"chinese": "喝 v.",
				"english": "drink",
				"audio": "hello/lesson5/exercise5/he.wav"
			}, {
				"pinyin": "píjiǔ ",
				"chinese": "啤酒 n.",
				"english": "beer",
				"audio": "hello/lesson5/exercise5/pijiu.wav"
			}, {
				"pinyin": "mǐfàn",
				"chinese": "米饭 n",
				"english": "rice",
				"audio": "hello/lesson5/exercise5/mifan.wav"
			}, {
				"pinyin": "xièxie",
				"chinese": "谢谢 v.",
				"english": "Thanks.",
				"audio": "hello/lesson5/exercise5/xiexie.wav"
			}]
		},
		"audio": "hello/lesson5/exercise5/ciyu1.mp3"
	}


	export default {
		data() {
			return {
				content: content,
				isPlaying: false,
			}
		},
		methods: {
			redirectTo(page) {
				uni.redirectTo({
					url: page
				})
			},
			createAudio(src, onEnded, onError) {
				var innerAudioContext = uni.createInnerAudioContext();
				innerAudioContext.autoplay = false;
				if(src){
					innerAudioContext.src = src;
				}
				innerAudioContext.onPlay(() => {
					console.log('开始播放');
					uni.showToast({
						title: '开始播放',
						icon: 'none',
					})
				});
				innerAudioContext.onTimeUpdate((e) => {

				});
				innerAudioContext.onEnded(() => {
					onEnded && onEnded()
				});
				innerAudioContext.onError((res) => {
					onError && onError()
					uni.showToast({
						title: res.errMsg,
						icon: 'none',
					})
					console.log(res.errMsg);
					console.log(res.errCode);
				});
				return innerAudioContext;
			},
			play(){
				let sound = this.sourceUrl + content.audio;
				this.playCenter(sound)
			},
			wordsPlay(audio){
				let sound = this.sourceUrl + audio;
				this.playCenter(sound)
			},
			playCenter(src) {
				this._audio.src = src
				if (this.isPlaying) {
					this.isPlaying = false;
					this._audio.stop()
					uni.showToast({
						title: '停止播放',
						icon: 'none',
					})
					return
				}
				this.isPlaying = true;
				this._audio.play()
			}
		},
		computed: {

		},
		onLoad() {
			this._audio = this.createAudio(null, () => {
				this.isPlaying = false;
			})
		},
		onUnload() {
			if (this._audio != null) {
				this._audio.destroy()
			}
		},
	}
</script>

<style>
	page {
		background: rgb(230, 230, 230);
	}

	.container {
		padding: 0 20px;
	}

	.source-img {
		width: 130px;
		height: 130px;
		display: block;
		margin: 0 auto;
		border: solid 2px #000000;
	}

	.words {
		padding: 5px 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content:flex-start;
		align-items: center;
	}

	.words-item {
		text-align: center;
		background: #002d32;
		padding: 5px;
		border-radius: 5px;
		box-sizing: border-box;
		margin:0 3px 3px 0; 
	}

	.words-item-inner {
		border: 2px dotted #fff;
		background: #084e62;
		color: #fff;
		padding: 5px 10px;
		box-sizing: border-box;
		font-size: 50rpx;
	}

	.media-center {
		display: flex;
		justify-content: center;
	}

	.m-c_item {
		text-align: center;
		padding: 10px 15px;
	}

	.record-trigger {
		position: relative;
	}

	.timers {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		z-index: 1;
		color: #f20;
		font-size: 25px;
	}

	.icon-play {
		width: 80px;
		height: 80px;
	}

	.button-sp-area {
		text-align: center;
	}

	.button-sp-area button {
		margin: 10px 0 0 0;
	}

	.lesson-header {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px 0;
	}

	.record-play {
		width: 100px;
		margin: 10px auto;
		background: #f1e8d3;
		color: #b89a6d;
		border: 1px solid #b89a6d;
		text-align: center;
		padding: 10px 0;
	}

	.modal-more {
		display: flex;
		background: url(../../static/lv1-related-bg.png);
		background-size: 100% 100%;
		width: 300px;
		height: 250px;
		padding: 10px;
	}

	.modal-more-left,
	.modal-more-right {
		flex: 1;
	}

	.img {
		//background: url(../../static/loading.gif) center center no-repeat #fff;
	}

	.l-p-b_c_inner {
		height: 50px;
		background: repeating-linear-gradient(-45deg, #dccab0, #dccab0 .25em, #d4c0a0 0, #d4c0a0 .5em);
	}
</style>
