<template>
	<view class="container">
		<view class="uni-flex" style="padding-top:10px">
			<view class="uni-flex-item">
				<image class="source-img" mode="aspectFill" :src="img1"></image>
			</view>
			<view class="uni-center">
				<view class="pinyin">{{content.words.pinyin}}</view>
				<view class="chinese">{{content.words.chinese}}</view>
				<button type="primary" size="mini" @click="tipsHandle">Tips</button>
			</view>
			<view class="uni-flex-item">
				<image class="source-img" mode="aspectFill" :src="content.images.image"></image>
			</view>
		</view>
		<view class="uni-flex stroke-box">
			<image class="stroke-img" @click="strokeHandle(index)" :src="item" :key="index" v-for="(item,index) in content.stroke">

			</image>
		</view>

		<view class="button-sp-area">
			<button type="primary" @click="redirectTo('page1')">上一页</button>
			<button type="primary" @click="redirectTo('page3')">下一页</button>
		</view>

	</view>
</template>

<script>

	var content = {
		"words": {
			"pinyin": "yú",
			"chinese": "鱼",
			"english": "fish",
			"image": "https://static.ipandarin.com/level1/lesson8/l1-l8-p25-1.png"
		},
		"images": {
			"image": "https://static.ipandarin.com/level1/lesson8/l1-l8-p25-2.png",
			"image_gif": "https://static.ipandarin.com/level1/lesson8/l1-l8-p25-yu.gif"
		},
		"stroke": ["https://static.ipandarin.com/base/stroke/pie.png",
			"https://static.ipandarin.com/base/stroke/henggou.png", "https://static.ipandarin.com/base/stroke/shu.png",
			"https://static.ipandarin.com/base/stroke/hengzhe.png",
			"https://static.ipandarin.com/base/stroke/heng.png"
		],
		"strokeimg": ["https://static.ipandarin.com/level1/lesson8/l1-l8-p25-1.gif",
			"https://static.ipandarin.com/level1/lesson8/l1-l8-p25-2.gif",
			"https://static.ipandarin.com/level1/lesson8/l1-l8-p25-3.gif",
			"https://static.ipandarin.com/level1/lesson8/l1-l8-p25-4.gif",
			"https://static.ipandarin.com/level1/lesson8/l1-l8-p25-5.gif",
			"https://static.ipandarin.com/level1/lesson8/l1-l8-p25-6.gif",
			"https://static.ipandarin.com/level1/lesson8/l1-l8-p25-7.gif",
			"https://static.ipandarin.com/level1/lesson8/l1-l8-p25-8.gif"
		],
		"strokeorder": [1, 2, 3, 4, 5, 3, 5, 5]
	}


	let cacheImgSrc;
	export default {
		data() {
			return {
				img1: '',
				tipsState: false,
				content: content,
				currentStroke: 0
			}
		},
		methods: {
			strokeHandle(index) {
				if (this.tipsState) {
					uni.showToast({
						title: 'need cancel tips',
						icon: 'none',
					})
					return
				}
				let current = index + 1
				console.log('index', current)
				let anwser = content.strokeorder[this.currentStroke]
				console.log('anwser', anwser)
				console.log('currentStroke', this.currentStroke)
				if (anwser != current) {
					uni.showToast({
						title: 'error',
						icon: 'none',
					})
					return
				}
				console.log('img', content.strokeimg[this.currentStroke])
				this.img1 = content.strokeimg[this.currentStroke]
				this.currentStroke++;

			},
			tipsHandle() {
				this.tipsState = !this.tipsState;
				if (this.tipsState) {
					uni.showToast({
						title: 'tips',
						icon: 'none',
					})
					this.cacheImgSrc = this.img1;
					this.img1 = content.images.image_gif
				} else {
					uni.showToast({
						title: 'tips cancel'
					})
					this.img1 = this.cacheImgSrc
				}

			},
			redirectTo(page) {
				uni.redirectTo({
					url: page
				})
			},
		},
		computed: {

		},
		onLoad() {
			this.img1 = this.content.words.image
		},
		onUnload() {

		},
	}
</script>

<style>
	page {
		background: rgb(230, 230, 230);
	}

	.container {
		padding: 0 20px;
	}

	.stroke-box {
		padding: 20px 0 50px 0;
	}

	.stroke-img {
		height: 40px;
		background: #084E62;
		margin: 0 10px;
	}

	.source-img {
		width: 130px;
		height: 130px;
		display: block;
		margin: 0 auto;
		border: solid 2px #000000;
	}

	.words {
		padding: 10px 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.words-item {
		text-align: center;
		background: #002d32;
		padding: 5px;
		border-radius: 5px;
		box-sizing: border-box;
	}

	.words-item-inner {
		border: 2px dotted #fff;
		background: #084e62;
		color: #fff;
		padding: 15px 35px;
		box-sizing: border-box;
		font-size: 50rpx;
	}

	.media-center {
		display: flex;
		justify-content: center;
	}

	.m-c_item {
		text-align: center;
		padding: 10px 15px;
	}

	.record-trigger {
		position: relative;
	}

	.timers {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		z-index: 1;
		color: #f20;
		font-size: 25px;
	}

	.icon-play {
		width: 80px;
		height: 80px;
	}

	.button-sp-area {
		text-align: center;
	}

	.button-sp-area button {
		margin: 10px 0 0 0;
	}

	.lesson-header {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px 0;
	}

	.record-play {
		width: 100px;
		margin: 10px auto;
		background: #f1e8d3;
		color: #b89a6d;
		border: 1px solid #b89a6d;
		text-align: center;
		padding: 10px 0;
	}

	.l-p-b_c_inner {
		height: 50px;
		background: repeating-linear-gradient(-45deg, #dccab0, #dccab0 .25em, #d4c0a0 0, #d4c0a0 .5em);
	}
</style>
