<template>
	<view class="container">
		<!-- <view class="lesson-header">
			current Page: 
			<view>
				<picker @change="bindPickerChange" :value="pageIndex" :range="pageArray">
					<view class="picker-text">{{pageArray[pageIndex]}}
						<uni-icons color="#bbb" size="20" type="arrowdown" />
					</view>
				</picker>
			</view>
		</view> -->

		<image class="source-img" mode="aspectFill" :src="catImgUrl"></image>

		<!-- <cus-img class="source-img"  :src="catImgUrl"></cus-img> -->

		<view class="words">
			<view class="words-item">
				<view class="words-item-inner">
					<view class="pinyin">māo</view>
					<view class="chinese">猫</view>
				</view>
			</view>
		</view>
		<view class="media-center">
			<view class="m-c_item">
				<image class="icon-play" src="/static/play.png" @click="play"></image>
				<view>PLAY</view>
			</view>
			<view class="m-c_item">
				<view class="record-trigger">
					<text class="timers" v-if="recording">{{time}}</text>
					<image class="icon-play" src="/static/record.png" @click="recorderStart"></image>
				</view>
				<view>RECORD</view>
			</view>
		</view>
		<view class="record-play" @click="recorderPlay">play</view>
		<button type="warn" @click="moreBtn" size="mini">More</button>
		<view class="button-sp-area">
			<button type="primary" @click="redirectTo">Next</button>
		</view>
		<uni-popup ref="popup">
			<view class="modal-more">
				<view class="modal-more-left">
					<image :src="tipSrc" style="width:80px;height: 80px;"></image>
					<view>
						<button @click="tipsBtn" size="mini">tips</button>
					</view>
				</view>
				<view class="modal-more-right">
					<image class="img" src="https://static.ipandarin.com/level1/lesson8/l1-l8-p3-m1-2.png" style="width:80px;height: 80px;"></image>
					<view>
						The cat is lying in the garden and enjoying the sunshine.
					</view>
				</view>
			</view>
		</uni-popup>
	</view>
</template>

<script>
	import permision from "@/common/permission.js"
	let sound1 = 'https://static.ipandarin.com/level1/lesson8/l1-l8-p3.wav'
	let catImgUrl = 'https://static.ipandarin.com/level1/lesson8/l1-l8-p3.jpg'
	// let catImgUrl = 'https://img-cdn-qiniu.dcloud.net.cn/uniapp/images/uni@2x.png'
	let recordTimeInterval;

	export default {
		data() {
			return {
				tipsState: true,
				tipSrc: '',
				tipSrcArr: [
					'https://static.ipandarin.com/level1/lesson8/l1-l8-p3-m1-1.png',
					'https://static.ipandarin.com/level1/lesson8/l1-l8-p22-mao.gif'
				],
				catImgUrl: catImgUrl,
				isPlaying: false,
				recording: false,
				hasRecord: false,
				time: 5,
				pageIndex: 0,
				pageArray: [
					'Page1',
					'Page2',
					'Page3'
				]
			}
		},
		methods: {
			imgLoad() {
				uni.showToast({
					title: 'loaded',
					icon: 'none',
				})
			},
			tipsBtn() {
				this.tipsState = !this.tipsState
				this.tipSrc = this.tipSrcArr[this.tipsState ? 0 : 1]
			},
			moreBtn() {
				this.$refs.popup.open()
				this.tipSrc = this.tipSrcArr[0]
			},
			redirectTo() {
				uni.redirectTo({
					url: 'page2'
				})
			},
			bindPickerChange(event) {
				let pageMap = {
					0: 'page1',
					1: 'page2',
					2: 'page3',
				}
				console.log(pageMap[event.detail.value])
				uni.redirectTo({
					url: pageMap[event.detail.value]
				})
			},
			createRecorder() {
				var recorderManager = uni.getRecorderManager();
				recorderManager.onStart(() => {
					console.log('recorder start');
					clearInterval(recordTimeInterval)
					this.recording = true;
					this.hasRecord = false;
					recordTimeInterval = setInterval(() => {
						if (this.time == 0) {
							clearInterval(recordTimeInterval)
							recorderManager.stop()
							uni.showToast({
								title: 'recorder end',
								icon: 'none',
							})
						}
						this.time -= 1;
					}, 1000)
					uni.showToast({
						title: 'recorder start',
						icon: 'none',
					})
				});
				recorderManager.onStop((res) => {
					console.log('on stop');
					clearInterval(recordTimeInterval)
					this.hasRecord = true;
					this.recording = false;
					if (this._recorderAudio) {
						this._recorderAudio.destroy()
					}
					this._recorderAudio = this.createAudio(res.tempFilePath, () => {
						console.log(1111)
						this.isPlayingByRecord = false;
					}, () => {
						console.log(2222)
						this.isPlayingByRecord = false;
					});

				});
				recorderManager.onError(() => {
					console.log('recorder onError');
				});
				return recorderManager
			},
			createAudio(src, onEnded, onError) {
				var innerAudioContext = uni.createInnerAudioContext();
				innerAudioContext.autoplay = false;
				innerAudioContext.src = src;
				innerAudioContext.onPlay(() => {
					console.log('开始播放');
					uni.showToast({
						title: '开始播放',
						icon: 'none',
					})
				});
				innerAudioContext.onTimeUpdate((e) => {

				});
				innerAudioContext.onEnded(() => {
					onEnded && onEnded()
				});
				innerAudioContext.onError((res) => {
					onError && onError()
					uni.showToast({
						title: res.errMsg,
						icon: 'none',
					})
					console.log(res.errMsg);
					console.log(res.errCode);
				});
				return innerAudioContext;
			},
			play() {
				// this._audio.src = sound1
				if (this.isPlaying) {
					this.isPlaying = false;
					this._audio.stop()
					return
				}
				this.isPlaying = true;
				this._audio.play()
			},
			async checkRecordPermission() {
				let status = permision.isIOS ? await permision.requestIOS('record') :
					await permision.requestAndroid('android.permission.RECORD_AUDIO');

				if (status === null || status === 1) {
					status = 1;
				} else if (status === 2) {
					uni.showModal({
						content: "系统麦克风已关闭",
						confirmText: "确定",
						showCancel: false,
						success: function(res) {}
					})
				} else {
					uni.showModal({
						content: "需要麦克风权限",
						confirmText: "设置",
						success: function(res) {
							if (res.confirm) {
								permision.gotoAppSetting();
							}
						}
					})
				}
				return status;
			},
			async recorderStart() {
				let status = await this.checkRecordPermission();
				console.log('status', status)
				if (status !== 1) {
					return;
				}
				this._recorder.start({
					format: 'mp3'
				});
			},
			recorderStop() {
				this._recorder.stop();
			},
			recorderPlay() {
				if (!this.hasRecord) {
					uni.showToast({
						title: 'please record',
						icon: 'none',
					})
					return;
				}
				this._recorderAudio.play()
			}
		},
		computed: {

		},
		onLoad() {
			// uni.setNavigationBarTitle({
			// 	title: 'Page 1/3'
			// });
			this._audio = this.createAudio(sound1, () => {
				this.isPlaying = false;
			})
			this._recorder = this.createRecorder()
		},
		onUnload() {
			if (this._audio != null) {
				this._audio.destroy()
			}
		},
	}
</script>

<style>
	page {
		background: rgb(230, 230, 230);
	}

	.container {
		padding: 0 20px;
	}

	.source-img {
		width: 130px;
		height: 130px;
		display: block;
		margin: 0 auto;
		border: solid 2px #000000;
	}

	.words {
		padding: 10px 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.words-item {
		text-align: center;
		background: #002d32;
		padding: 5px;
		border-radius: 5px;
		box-sizing: border-box;
	}

	.words-item-inner {
		border: 2px dotted #fff;
		background: #084e62;
		color: #fff;
		padding: 15px 35px;
		box-sizing: border-box;
		font-size: 50rpx;
	}

	.media-center {
		display: flex;
		justify-content: center;
	}

	.m-c_item {
		text-align: center;
		padding: 10px 15px;
	}

	.record-trigger {
		position: relative;
	}

	.timers {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		z-index: 1;
		color: #f20;
		font-size: 25px;
	}

	.icon-play {
		width: 80px;
		height: 80px;
	}

	.button-sp-area {
		text-align: center;
	}

	.button-sp-area button {
		margin: 10px 0 0 0;
	}

	.lesson-header {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px 0;
	}

	.record-play {
		width: 100px;
		margin: 10px auto;
		background: #f1e8d3;
		color: #b89a6d;
		border: 1px solid #b89a6d;
		text-align: center;
		padding: 10px 0;
	}

	.modal-more {
		display: flex;
		background: url(../../static/lv1-related-bg.png);
		background-size: 100% 100%;
		width: 300px;
		height: 250px;
		padding: 10px;
	}

	.modal-more-left,
	.modal-more-right {
		flex: 1;
	}

	.img {
		//background: url(../../static/loading.gif) center center no-repeat #fff;
	}

	.l-p-b_c_inner {
		height: 50px;
		background: repeating-linear-gradient(-45deg, #dccab0, #dccab0 .25em, #d4c0a0 0, #d4c0a0 .5em);
	}
</style>
