<script>
export default {
	onLaunch: function() {
		console.log('App Launch');
	},
	onShow: function() {
		console.log('App Show');
	},
	onHide: function() {
		console.log('App Hide');
	}
};
</script>

<style>
 @import './common/uni.css';
 page {
	background-color: #F4F5F6;
	height: 100%;
	font-size: 28rpx;
	line-height: 1.8;
}
</style>
