<template>
	<view class="img-wrapper">
		<image class="loading" src="../static/loading.gif" v-if="loading"></image>
		<image class="img" :src="src" lazy-load="true" @load="load" v-show="!loading"></image>
	</view>
</template>

<script>
	export default {
		name: 'cus-img',
		props: {
			width: {
				type: String,
				default: '100'
			},
			height: {
				type: String,
				default:'100'
			},
			src:{
				type: String,
			}
		},
		data(){
			return {
				loading:true
			}
		},
		methods: {
			load() {
				this.loading = false
			}
		}
	}
</script>

<style scoped>
.img-wrapper{
	position: relative;
	background: #fff;
}
.img{
	width: 100%;
	height: 100%;
}
.loading{
	width:50px;
	height: 50px;
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}
</style>
